 #R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
os:
- linux
- osx
r:
- release
- oldrelease
- devel

sudo: false
cache: packages
addons:
   apt:
     packages:
       - xorg
       - openbox

r_packages:
  - covr
  - car
  - carData

after_success:
- Rscript -e 'library(covr); codecov()'
